* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header, footer {
  width: 100%;
  height: 150px;
  background: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url(../images/vecteezy_long-banner-background_en0421_generated.jpg);
  h2 {
    
    color: #fff;
  }
}
header {
}

main {
  display: flex;
  max-width: 1200px;
  article {
    width: 30%;
    height: auto;
    background: #555;
    padding: 20px;
    a {
      color: #fff;
      display: block;
      margin-bottom: 15px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  section {
    max-width: 70%;
    height: auto;
    background: #f9f9f9;
    padding: 20px;
    background: url(../images/wall.jpg);
    color: #fff;
    h2 {
      margin-bottom: 30px;
    }
    .content {
      .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        &:nth-child(2) {
          margin: 0;
        }
        p {
          line-height: 25px;
          text-align: justify;
          margin-bottom: 20px;
          width: 45%;
        }
        img {
          width: 45%;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    main {
      article {
        width: 25%;
      }
      section {
        max-width: 75%;
      }
    }
  }
}
@media (max-width: 992px) {
  .container {
    main {
      article {
        width: 20%;
      }
      section {
        max-width: 80%;
      }
    }
  }
}
@media (max-width: 768px) {
  .container {
    main {

      section {
        max-width: 80%;
        .content {
          .item {
            flex-direction: column;
            p {
              width: 100%;
            }
            img {
              width: 100%;
            }
            &:nth-child(2) {
              flex-direction: column-reverse;
            }
          }
        }
      }
    }
  }
}

